# Assignment 4 - Working on features

## Part 1 - Read your data frame.

In [4]:
import pandas as pd
data_frame = pd.read_csv("Admission_Predict.csv")
print(data_frame.keys())
data_frame.head(n=5)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

   Serial No.  GRE Score        ...         Research  Chance of Admit
0           1        337        ...                1              0.92
1           2        324        ...                1              0.76
2           3        316        ...                1              0.72
3           4        322        ...                1              0.80
4           5        314        ...                0              0.65

[5 rows x 9 columns]

## Part 2 - Create a new feature.
Pick at least two features from your data set and create a new feature based on them.  In the notes describe why you chose the features and how you are combining them.

### _Notes_
(Your notes here)
I have choosen to combine GRE Score and TOFEL score and creating a new feature called score level based on the GRE score and TOFEL score

In [6]:
# Your code here
def score_level(gre, tofel):
  if (310 <= gre <= 340) & (94 <= tofel <= 120):
      return 1   #High
  if (285 <= gre <= 309) & (94 <= tofel <= 120):
      return 2   #Intermediate
  else: 
      return 3 #low
values = map(score_level, data_frame["GRE Score"], data_frame["TOEFL Score"])
data_frame["Score_level"] = list(values)

## Part 3 - Split the data frame

Use the train_test_split() function to split the data set into two equal pieces.

In [7]:
# Your code here
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(data_frame, test_size=0.5,
random_state=123)
print(len(train_set))
print(len(test_set))

200
200

## Part 4 - Pick a feature to create categories for
1. Why did you pick the feature?
2. Describe how you will create the groups.
3. What is your reason for the groupings?
4. Are any of your categories small in size?

### _Notes_
(Your notes here!)
I have choose the new feature Score_level to create the categories.
1. Beacuse with this feature i can filter the students into different ctegories based on their exam scores
2. I can create a group using a function that will map onto the existing feature.
3. The reason for this groupings is to differentiate the different level of students.
4. Yes , two of my categories are small in size.

## Part 5 - Create the category groups

In [8]:
# Your code here
def score(score):
  if score == 1:
      return "High"
  if score == 2:
      return "Intermediate" 
  else: 
      return "Low"
values = data_frame['Score_level'].map(score)
data_frame['Score_group'] = values

## Part 6 - Do a stratified split
Use the category group feature you created to perform a stratified split on the data.

In [9]:
# Your code here
from sklearn.model_selection import StratifiedShuffleSplit
splitter = StratifiedShuffleSplit(n_splits = 1, test_size=0.5, random_state=123)
for train_indices, test_indices in splitter.split(data_frame, data_frame["Score_group"]):
    train_set = data_frame.iloc[train_indices]
    test_set = data_frame.iloc[test_indices]

## Part 7 - Look at the training and test sets
Use info() and value_counts() on the training and test sets to verify that the split was successfl.

In [10]:
# Your code here
train_set.info()
train_set["Score_group"].value_counts()

test_set.info()
test_set["Score_group"].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 289 to 122
Data columns (total 11 columns):
Serial No.           200 non-null int64
GRE Score            200 non-null int64
TOEFL Score          200 non-null int64
University Rating    200 non-null int64
SOP                  200 non-null float64
LOR                  200 non-null float64
CGPA                 200 non-null float64
Research             200 non-null int64
Chance of Admit      200 non-null float64
Score_level          200 non-null int64
Score_group          200 non-null object
dtypes: float64(4), int64(6), object(1)
memory usage: 18.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 124 to 242
Data columns (total 11 columns):
Serial No.           200 non-null int64
GRE Score            200 non-null int64
TOEFL Score          200 non-null int64
University Rating    200 non-null int64
SOP                  200 non-null float64
LOR                  200 non-null float64
CGPA                 200 non-null float64
Research             200 non-null int64
Chance of Admit      200 non-null float64
Score_level          200 non-null int64
Score_group          200 non-null object
dtypes: float64(4), int64(6), object(1)
memory usage: 18.8+ KB

High            147
Intermediate     52
Low               1
Name: Score_group, dtype: int64

# Bonus

1. Experiment with the n_splits for the StratifiedShuffleSplit.  Describe what you observe.
2. Experiment with the random_state for the StratifiedShuffleSplit. Describe what you observe.

In [15]:
splitter = StratifiedShuffleSplit(n_splits = 1, test_size=0.2, random_state=320)
for train_indices, test_indices in splitter.split(data_frame, data_frame["Score_group"]):
    train_set = data_frame.iloc[train_indices]
    test_set = data_frame.iloc[test_indices]


print(len(train_set))
print(len(test_set))

320
80

when i tried to test_size with 0.2 the data split into two sets - one contains 320 and other 80
when test_size = 05. - both data sets contains qual number of records each 200.

I tried diffrenet values for random_state also but did not find any differences in the split.